<h1>Create Warehouse</h1>

<form action="/warehouse" method="POST">
  <label>Name:</label>

  <br></br>

  <input type="text" id="name" name="name">

  <br></br>

    <label>Location:</label>

  <br></br>

  <input type="text" id="location" name="location">

  <br></br>

  <input type="submit" value="submit">
</form>