<h1>Create Warehouse</h1>

<form action="/warehouses" method="POST">
  <label>Name:</label>

  <br></br>

  <input type="text" id="name" name="warehouse[name]">

  <br></br>

    <label>Location:</label>

  <br></br>

  <input type="text" id="location" name="warehouse[location]">

  <br></br>

  <input type="submit" value="submit">
</form>